/* styles.css */

body {
  background-color: #fff; /* Set the background color to white */
  color: #333; /* Set the text color to a dark shade, such as black or dark gray */
  font-family: Avenir Book, sans-serif; /* Set the font family for the text */
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
nav {
  margin: 10px auto;
  width: 1000px;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
li a:link, li a:visited, li.selected {
  float: left;
  width: 199px;
  line-height: 3.5em;
  background-color: #2e2e2e;
  color: #ccc;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-right: 1px #ccc solid;
}
li:last-child a{
  width: 200px;
  border-right: 0px #ccc solid;
}
li a:hover, li.selected {
  background-color: #288dff;
  color: #a23493;
}
li a:active {
  background-color: #ccc;
  color: #000;
}

nav>h1 {
  margin: 0px auto;
  padding: 90px 0px 0px 0px;
  color: #a23493;
  font-size: 60px;
  letter-spacing: -2px;
  border: 0px black solid;
}
nav>p {
  width: 500px;
  line-height: 1.5em;
  color: #333;
}

h1 {
  background-color: fff; /* Set the background color to white */
  color: #a23493; /* Set the text color to a dark purple */
  font-family: Avenir Roman sans-serif; /* Set the font family for the text */
  padding: 0;
  margin: 0;
}

h2 {
  background-color: fff; /* Set the background color to white */
  color: #a23493; /* Set the text color to a dark purple */
  font-family: Avenir Roman sans-serif; /* Set the font family for the text */
  padding: 0;
  margin: 0;
}

h3 {
  background-color: fff; /* Set the background color to white */
  color: #a23493; /* Set the text color to a dark purple */
  font-family: Avenir Roman sans-serif; /* Set the font family for the text */
  padding: 0;
  margin: 0;
}



